*{margin:0;padding:0;}
img{border:none; vertical-align:top;}
li{ list-style:none;}
i,em{ font-style:normal;}
a{color:#8f8f8f;text-decoration: none}
body{background:#fff /*url(https://img.ssl.q1.com/lw/images/20170215_main/body_v15.jpg?v=1) no-repeat center 42px*/;padding-top:50px;font:12px/24px tahoma,'\5b8b\4f53',sans-serif;color: #8f8f8f;}

.main{width: 1200px;margin: 0 auto;zoom: 1;overflow: hidden;}
.right{position: relative;width: 948px; float:right;}
.zz_video{position:absolute;z-index:9;filter:alpha(opacity=80);background:#000;opacity: 0.8;-moz-opacity: 0.8;left:0;top:0;width:100%;display: none;}
.tc_video{ width:800px; height:500px; position:fixed;_position:absolute; top:200px; _top:300px ;left:50%; margin-left:-400px; z-index:10; display:none;}
.video_close{background:url(https://img.ssl.q1.com/lw/images/20170215_main/close.png?v=1) no-repeat; width:59px; height:58px; position:absolute; top:5px; right:-70px; z-index:10; cursor:pointer;}
.video_close:hover{transform: rotate(360deg);transition: 1s;}


.tit1 ,.khd_a ,.khd_a:hover ,.down_btom li a ,.down_btom li a:hover ,#article .xiaz a ,#article .xiaz a:hover{background:url(https://img1.ssl.q1.com/lw/images/20170215_main/list.png?v=1) no-repeat;}
.right{ width:949px; float:right; background:#fff; color:#282b4a; min-height:1523px; _height:1523px; padding-bottom:40px;}
.tit1{  height:92px; color:#fff; line-height:92px; padding:0 50px 0 35px;}
.tit1 h2{ font-size:34px; font-weight:normal; display:inline-block; vertical-align:middle}
.tit1 i{ background:url(https://img.ssl.q1.com/lw/images/20170215_main/list_x.png?v=1) no-repeat; width:34px; height:37px; display:inline-block; vertical-align:middle; margin:0 10px;}
.tit1 em{ font-size:26px; color:#ffe4ab; font-family:"宋体";vertical-align:middle;}
.tit1 span{ float:right;}
.tit1 a{ color:#fff;}
.tit1 a:hover{ color:#fff; text-decoration:underline;}
